@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono&family=Yanone+Kaffeesatz:wght@500;600&display=swap');

*{
    padding: 0;
    margin:0;
}

body{
    background-image: url(../images/imgJBT.png);
    background-size:inherit;
}

/* JUMBOTRON */

.jumbotron{
    background-color: #fdef6f6c;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.img-jbt{
    max-width: 100%;
    height: auto;
    margin: 3em;
    flex-shrink: 4;
}


.txtJmb{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    background-color: #FDEF6F;
    font-size: 2rem;
    padding: .5rem;
}

.button-jbt {
    font-family: 'Roboto Mono', sans-serif;
    font-size: .8em;
    border-radius: .4em;
    text-align: center;
    padding: 0.30em .7em;
    margin-top: 1em;
}

.button-jbt:hover{
    background-color: #E8348A;
    border-width: .15em;
}

/* Banner servicios */

.txtTitle{
    background-color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-top: 0;
    color: white;
    width:100%;
}
.card{
    border-radius: .4em;
    border-width: .5em;
    border-color: white;
    margin-bottom: .5em;
}

.card-body{
    background-color: #FDEF6F;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: .4em;
    margin-top: .5em;
}

.card-img-top{
    border-radius: 0.4em;
    height: auto;
}

.button-galery{
    background-color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .75em;
    border-radius: 0.4em;
    padding: 0.5em;
}

.button-galery:hover{
    background-color: #4CC2ED;
    border-width: .15em;
}


/* Banner Eventos */
.bannerEvento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.424);
    padding-top: 2em;
    padding-bottom: 2em;
}

.contenidoEvento{
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    height: 30em;
    justify-content: center;
}

.eventInfoBlock{
    display: flex;
    flex-direction:column;
    padding-left: 2em;
}

.imgEvento{
    border-radius: .9em;
    width: 40rem;
    padding-bottom: 1em;
}

.img-txt-event{
    width: 90%;
}

.button-event{
    background-color: #FDEF6F;
    color: black;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .9em;
    border-radius: 0.5em;
    padding: 0;
    height: 4em;
    width: auto;
}

.button-event:hover{
    background-color: #4CC2ED;
    border-width: .15em;
}

/* Footer */
.albricias-txt{
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: underline;
}
.footer{
    background-color: #FDEF6F;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: auto;
}

.title-footer{
    color: #4CC2ED;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
}

.list-footer li{
    list-style: none;
    font-family: 'Roboto Mono', sans-serif;
    color: gray;
    font-size: .7em;
}

.list-footer a{
    color: rgb(67, 65, 65);
    text-decoration: none;
}

.list-footer a:hover{
    color: #E8348A;
}

/* MEDIA */

@media  screen and (max-width: 800px){
    .imgEvento{
        display: none;
    }
    .txtTitle{
        font-size: 2.4em;
    }

    .button-event{
        width: 15em;
        align-self:flex-start;
    }

    .albricias-txt{
        font-size: small;
    }
}