@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono&family=Yanone+Kaffeesatz:wght@500;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    /* background-color: #FDEF6F; */
    background-color: white;
}

/* JUMBOTRON */

.jumbotron{
    background-image: url(../images/imgJBT.png);
    background-size: auto;
    width: auto;
    height: 450px;
    background-repeat: no-repeat;
    display: block;
}

.img-jbt{
    text-align:right;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 8rem;
    float: left;
}

.text-jumbotron {
    color: black;
    padding-left: 5em;
    padding-top: 4em;
}

.button-jbt {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2em;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.25em;
}

.button-jbt:hover{
    background-color: #E8348A;
    border-width: .15em;
}

/* GALERIA */
.galery{
    box-sizing: content-box;
}

.title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 2rem;;
}
.card{
    margin-bottom: 1rem;
    border-radius: 3em;
}

.card-body{
    background-color: #E8348A;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.button-galery{
    background-color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .75em;
    border-radius: 0.4em;
    padding: 0.5em;
}

.button-galery:hover{
    background-color: #E8348A;
    border-width: .15em;
}
/* Footer */
.footer{
    background-color: black;
}