body{
    background-color: #FDEF6F;
}


.jumbotron{
    background-image: url(../images/imgJBT.png);
    width: auto;
    height: 450px;
    background-repeat: no-repeat;
}

.img-jbt{
    text-align:right;
}