nav {
    margin: 0;
    padding: .6rem;
    justify-content: flex-end;
    display: flex;
    flex-wrap: nowrap;
}

.logo-nav{
    height: 1.3em;
    padding-left: 1em;
}

.navbar {
    background-color: #fff182;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    text-align: right;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navGpo{
    padding:0;
    width: 40%;
}

.nav-txt {
    color: black;
    margin: .4em;
    
}

nav a:hover {
    color: #E8348A;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: .8em ;
}

nav a {
    text-decoration: none;
}


@media  screen and (max-width: 800px) {
    .nav-txt{
        font-size: .8em;
    }

    .logo-nav{
        display: none;
    }

    .navGpo{
        width: 100%;
    }
}

@media  screen and (max-width: 400px) {
    .nav-txt{
        font-size: .6em;
        padding: 0;
    }
    .logo-nav{
        display: none;
    }

    .navGpo{
        width: 100%;
    }
}